<div data-role="header" data-theme="b">
  <h1>Kaonuki</h1>
</div>
<div data-role="content">
  <ul data-role="listview" data-theme="c" data-inset="true">
    <li data-role="list-divider">Menu</li>
    <li>
      <%= link_to "photos", photos_path %>
    </li>
    <li>
      <%= link_to "account", "#" %>
    </li>
  </ul>
</div>
